body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 234, 316);
    font-size: 24px;
    color: rgb(71,38,21);
    text-align: center;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 52px;
}

h2 {
    font-size: 40px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    max-height: auto;
}

ul, ol {
    margin: 0% auto;
    text-align: left;
    max-width: fit-content;
}

 a {
    display: block;
    margin: 20px auto;
}